<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Logging configuration  
-->
<configuration debug="false">
<!-- debug="true|false" - http://logback.qos.ch/manual/configuration.html#automaticStatusPrinting -->

    <!-- 
	    http://logback.qos.ch/manual/appenders.html 
	    http://logback.qos.ch/manual/layouts.html
    -->

    <!-- http://logback.qos.ch/manual/appenders.html#ConsoleAppender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35}: %msg%n</pattern>
		</encoder>
	</appender>
	<!-- http://logback.qos.ch/manual/appenders.html#FileAppender -->
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>log/app.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35}: %msg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT"/>
	</root>

	<logger name="com.flancer32" level="INFO">
		<appender-ref ref="FILE"/>
	</logger>

</configuration>